#calendar{
    margin: 10px 0 30px 0;
    border-width: 1px;
    border-style: dashed;
    border-color: black;
    width: 205px;
    height: 230px;
}
table, td {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    vertical-align: middle;
}
table {
    width: 90%;
}
td {
    height: 50px;
    text-align: center;
    font-size: 18pt;
}
td:hover {
    background-color: aqua;
}
body{
    background: white;
}
textarea 
{
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Consolas;
    font-size: medium;
    border:none;
    border-width: 0px;
    text-align: center;
}